<div class="container">
  <h1>Handshakes</h1>
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#received" aria-controls="received" role="tab" data-toggle="tab">Received</a></li>
    <li role="presentation"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending</a></li>
  </ul>
  <div class="tab-content">
    <div id="flashMessages">
    </div>
  <% if(receivers.length) { %>
    <div role="tabpanel" class="tab-pane row" id="pending">
    <% receivers.forEach(function(receiver) { %>
      <div class="col-xs-6 col-sm-3">
      <div class="well well-lg textcenter">
        <% if(receiver.pictureUrl) { %>
          <img class="img-responsive marginauto img-circle" src="<%= receiver.pictureUrl %>" alt="">
        <% } else { %>
          <img class="img-responsive marginauto img-circle" src="http://lorempixel.com/200/200/abstract" alt="">
        <% } %>
        <div class="caption">
          <h4><%= receiver.name %></h4>
          <p><strong><%= receiver.company.title %></strong></p>
          <p><%= receiver.designation.title %></p>
          <p><%= receiver.industry.title %></p>
          <p>
            <button type="button" class="btn btn-danger btn-sm btn-block" id="removeBtn" data-userid="<%= receiver.user %>">
              Remove
            </button>
            </p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <% } else { %>
    <div role="tabpanel" class="tab-pane alert alert-info" id="pending">
      You have not sent out any handshake requests.
    </div>
    <% } %>

    <% if(initiators.length) { %>
      <div role="tabpanel" class="tab-pane active row" id="received">
        <% initiators.forEach(function(initiator) { %>
          <div class="col-xs-6 col-sm-3">
          <div class="well well-lg textcenter">
            <% if(initiator.pictureUrl) { %>
              <img class="img-responsive marginauto img-circle" src="<%= initiator.pictureUrl %>" alt="">
            <% } else { %>
              <img class="img-responsive marginauto img-circle" src="http://lorempixel.com/200/200/abstract" alt="">
            <% } %>
            <div class="caption">
              <h4><%= initiator.name %></h4>
              <p><%= initiator.designation.title %></p>
              <p><%= initiator.industry.title %></p>
              <p><button type="button" class="btn btn-success btn-sm btn-block" id="acceptBtn" data-userid="<%= initiator.user.id %>">Accept</button></p>
              <p><button type="button" class="btn btn-danger btn-sm btn-block" id="rejectBtn" data-userid="<%= initiator.user.id %>">
                  Reject
                </button>
              </p>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
    <% } else { %>
      <div role="tabpanel" class="tab-pane active alert alert-info" id="received">
        You currently do not have any handshakes received.
      </div>
    <% } %>

  </div>
</div>
<script>
var currentUser = parseInt("<%= userId %>");
//removing handshakes
$('button#removeBtn').click(function(){
  var obj = $(this);
  clearHandshake(obj, true);
});

$('button#rejectBtn').click(function(){
  var obj = $(this);
  clearHandshake(obj, false);
});

$('button#acceptBtn').click(function(){
  var obj = $(this);
  acceptHandshake(obj);
})

function acceptHandshake(obj) {
  var btn = obj;
  var btnText = btn.text();
  var btnLoadText = 'Accepting...';
  var receiverId = currentUser;
  var initiatorId = btn.data('userid');
  var userName = btn.parent().siblings('h4').text();
  disableButton(btn, btnLoadText);
  $.ajax({
    url: '../handshake/accept',
    method: 'post',
    data: {
      receiver: receiverId,
      initiator: initiatorId,
    }
  }).done(function(data){
    removeListItem(btn);
    addFlashMsg('You have accepted <strong>' + userName + '</strong> from the list.', 'success');
  }).fail(function(err){
    var responseObj = JSON.parse(err.responseText);
    enableButton(btn, btnText);
    addFlashMsg(responseObj.summary, "danger");
  })
}

function removeListItem(obj) {
  obj.parents('.col-xs-6.col-sm-3').fadeOut(500, function() {
    $(this).remove();
  })
}

function clearHandshake(obj, removal) {
  var btn = obj;
  var btnText = btn.text();
  var btnLoadText = removal ? 'Removing...' : 'Rejecting...';
  var receiverId = removal ? btn.data('userid') : currentUser;
  var initiatorId = removal ? currentUser : btn.data('userid');
  var userName = btn.parent().siblings('h4').text();

  disableButton(btn, btnLoadText);
  $.ajax({
    url: '../handshake',
    method: 'delete',
    data: {
      receiver: receiverId,
      initiator: initiatorId,
    }
  }).done(function(data){
    removeListItem(btn);
    addFlashMsg("You have removed <strong>" + userName + "</strong> from the list.", "success")
  }).fail(function(err){
    var responseObj = JSON.parse(err.responseText);
    enableButton(btn, btnText);
    addFlashMsg(responseObj.summary, "danger")
  })
}
var flashDivTpl = '<div class="alert marginauto"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p></p></div>';

function addFlashMsg(text, status) {
  var flashDiv = $(flashDivTpl);
  flashDiv.addClass("alert-" + status);
  flashDiv.children('p').html(text);
  flashDiv.prependTo($('div#flashMessages'));
  flashDiv.delay(3000).fadeOut(500, function(){
    $(this).remove();
  });
}

function disableButton(btn, loadText) {
  btn.addClass('disabled').text(loadText).button('refresh');
}
function enableButton(btn, originalText) {
  btn.removeClass('disabled').text(originalText).button('refresh');
}
</script>
